.mainFluxograma {
    display: flex;
    border: 2px solid #000;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.options {
    border: 2px solid #000;
}

.btImage {
    height: 50px;
    border-radius: 20px;
}