.mainFluxograma {
    display: flex;
    border: 2px solid #000;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.options {
    border: 2px solid #000;
    padding: 30px;
    margin: 10px;
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btImage {
    height: 50px;
    border-radius: 8px;
}
