body {
  margin-top: 20px;
}

.container {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.input-group input {
  width: 300px;
  padding: 4pxem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 20px;
  height: 50px;
}

inpu[text] {
  width: 200px;
}

.input-group button {
  padding: 0 1.5rem;
  background: #0070f3;
  color: white;
  border: none;
  height: 50px;
  width: 120px;
  border-radius: 4px;
  cursor: pointer;
}

.input-group button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.error {
  color: #dc3545;
  margin-bottom: 1rem;
}

.resultado {
  margin-top: 2rem;
}

.eventos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.evento-card {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 1rem;
}

.success {
  color: #28a745;
  font-weight: bold;
}

.warning {
  color: #dc3545;
  font-weight: bold;
}