/* src/app/eventos/components/EventoForm.css */

.evento-form {
  max-width: 600px;
  margin: 12px auto 60px auto;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
}

.date-format-hint {
  font-size: 13px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 2px;
  color: #333;
}

.form-input,
.form-input-date {
  width: 100%;
  min-width: 160px;
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.2s ease;
}

.form-input-date {
  width: 148px;
  text-align: center;
  padding: 0.4rem 0.6rem;
}

.presenca-minima-hint {
  color: gray;
}

.example-url {
  color: blue;
}

small {
  color: gray;
}
.form-input:focus {
  border-color: #0070f3;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.15);
}

.form-error {
  margin-top: 0.4rem;
  color: #d9534f;
  font-size: 0.9rem;
  font-weight: bold;
}

.eventDates {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 25px;
}

.form-group-dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.form-group-dates-item {
  width: 160px;
}

.input-date {
  text-align: center;
}

/* Estilos compartilhados */
.button,
.submit-button,
.cancel-button {
  padding: 0.7rem 1.4rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
}

/* Estilos específicos */
.submit-button.creating {
  background-color: #1976d2; /* Verde para criação */
}

.submit-button.creating:hover {
  background-color: #094c8e; /* Verde mais escuro no hover */
}

.submit-button.editing {
  background-color: #1ec244; /* Azul para edição */
}

.submit-button.editing:hover {
  background-color: #12892e; /* Azul mais escuro no hover */
}

.submit-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  /* Mantém a cor original quando desabilitado */
}

.cancel-button {
  background-color: #909090;
}

.cancel-button:hover {
  background-color: #6f6f6f;
}

/* Container */
.form-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.radio-group {
  display: flex;
  gap: 1rem;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
}

/* start checkbox requer atividade final */
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 6px;
  vertical-align: middle;
}

.form-group label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

/* end checkbox requer atividade final */