/* src/app/eventos/admin/evento/[eventoId]/presenca/page.css */

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.presenca-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto 60px auto;
}

/* colors in table */
.presenca-table tbody tr:nth-child(odd) {
  background-color: #ffffff; /* branco */
}

/* colors in table */
.presenca-table tbody tr:nth-child(even) {
  background-color: #eeeeee; /* cinza bem claro */
}

.presencaTitle {
  font-weight: bold;
}

.eventoTitle {
  color: blue;
}

.presenca-table {
  width: 100%;
  border-collapse: collapse;
}

.presenca-table th, .presenca-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.presenca-table th {
  background-color: #777777;
  color: #ffffff;
}

.presenca-button {
  width: 148px;
  background-color: #4d9950;
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  border: none;
  padding: 8px 4px;
  border-radius: 4px;
  cursor: pointer;
}

.presenca-button:disabled {
  background-color: #d5111a;
  cursor: not-allowed;
  color: #ffffff;
  border: #c6c6c6;
}

.presenca-button:hover:not(:disabled) {
  background-color: #45a049;
}

.checkboxAtividadeFinal {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: #4d9950;
}
