body {
    background-color: #fff;
}
.main {
  background: linear-gradient(to right, #b2ebf2, #e0f7fa); /* Degradê azul claro */
  min-height: 100vh; /* Garante que o fundo cubra toda a altura da página */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logo {
  margin-bottom: 20px;
}

.button-container {
  text-align: center;
}

.description {
  color: #2c3e50;
  font-size: 16pt;
  margin-bottom: 50px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.button:hover {
  background-color: #005bb5;
}
