.loading {
    margin: 8px;
}

.admin-container {
    width: 100%;
    max-width: 940px;
    margin: auto;
    text-align: center;
}

.titleAdmin {
    font-size: 20px;
    font-eight: bold;
    margin: 20px;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    height: auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
}

.userLogged {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: auto;
    height: auto;
    text-align: left;
}

.userLogged .label {
    font-weight: bold;
}

.adminBtns {
    display: flex;
    gap: 8px;
}

.topMsg {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.eventoItems {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    max-width: 900px;
    min-width: 240px;
    height: auto;
    font-size: 1.1rem;
    font-weight: bold;
    color: #0070f3;
    text-decoration: none;
    text-align: left;
    padding-left: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: auto 10px;
    padding: 10px 8px 10px 12px;
    box-shadow: 2px 2px 2px #cacaca;
}

.actionsBtn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: auto;
    height: 40px;
}

.btnUsers,
.btnNewEvent,
.btnSair,
.btnExcluir,
.btnEditar {
    width: 110px;
    border: 2px solid #bababa;
    background-color: #fafafa;
    color: #555;
    cursor: pointer;
    padding: 0.5rem 0.2rem;
    height: 36px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.btnUsers:active,
.btnNewEvent:active,
.btnSair:active,
.btnExcluir:active,
.btnEditar:active {
    transform: scale(0.96);
}

.btnEditar,
.btnExcluir {
    width: 80px;
}

@media (max-width: 767px) {
    .menuBar {
        flex-direction: column;
        height: auto;
        justify-content: center;
    }
    .userLogged {
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .adminBtns {
        justify-content: center;
    }
    .eventoItems {
        flex-direction: column;
    }
    .actionsBtn {
        margin-top: 16px;
    }
}

.loadingMessage {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.2rem;
    color: #555;
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.userLogged .email {
    display: inline;
}

@media (max-width: 767px) {
    .userLogged {
        text-align: center;
    }

    .userLogged .email {
        display: block;
        margin-top: 0.25rem;
    }
}

/* confirmation modal */
/* Estilos existentes... */
