body {
  font-size: 14px;
  margin: 0;
}

.titleFolhaAssinaturas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 10px;
}

.titleFolhaAssinaturasItem {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

table {
  width: 100%;
  max-width: 900px;
  border-collapse: collapse;
  margin: 10px auto 60px auto;
  background-color: #ffffff;
}
th, td {
  border: 1px solid #000;
}

th {
  padding: 8px;
  background-color: #dfdfdf;
}

td {
  height: 25px;
  padding: 0 4px;
}

.names {
  width: 340px;
}

@media print {
  body {
    font-size: 14px;
    background: none;
  }
  .eventos-top-header{
    visibility: hidden;
  }
  .titleFolhaAssinaturas {
    margin-top: -100px;
  }
  table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    background-color: #ffffff;
  }
  th, td {
    border: 1px solid #000;
  }
  th {
    padding: 8px;
    background-color: #dfdfdf;
  }
  td {
    height: 20px;
    padding: 4px;
  }
  .names {
    width: 350px;
  }
}