body {
	margin: 0;
	padding: 0;
	background: linear-gradient(to top, #b4e3e3, #ffffff); /* gradient lightgray */
	height: 100%;
}

.eventos-top-header {
	background-color: white;
	box-shadow: 0 1px 5px rgb(200, 200, 200);
	width: calc(100% - 5px);
	padding: 12px;
	text-align: center;
}

h1 {
	font-size: 12pt;
	margin-bottom: 4px;
}

h2 {
	font-size: 11pt;
	margin-top: 0px;
}

@media (max-width: 767px) {
	.eventos-top-header {
		width: 100%;
		margin: auto;
	}
}