/* layout.css */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: linear-gradient(to top, #b4e3e3, #ffffff);
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* evitar scroll horizontal */
}

.eventos-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.eventos-layout > main {
  flex: 1;
}

.eventos-top-header {
  background-color: white;
  box-shadow: 0 1px 5px rgb(200, 200, 200);
  width: 100%;
  padding: 12px;
  text-align: center;
}

h1 {
  font-size: 12pt;
  margin-bottom: 4px;
}

h2 {
  font-size: 11pt;
  margin-top: 0px;
}

@media (max-width: 767px) {
  .eventos-top-header {
    width: 100%;
  }
}
